<form class="<%= entidadeSingular %>" role="form">

	<input type="hidden" name="id">

	<div class="row">
		<!-- fgroup -->
	</div>

    <div class="form-actions print-hidden">
        <div class="row">
            <div class="col-sm-2 col-sm-offset-1" style="margin-bottom: 5px;">
                <button id="salvar" class="btn btn-success btn-block">
                    <i class="ace-icon fa fa-check bigger-120"></i>
                    &nbsp;SALVAR
                </button>
            </div>
            <div class="col-sm-2" style="margin-bottom: 5px;">
                <button class="btn btn-info btn-block">
                    <i class="ace-icon fa fa-undo bigger-120"></i>
                    &nbsp;DESFAZER
                </button>
            </div>
            <div class="col-sm-2" style="margin-bottom: 5px;">
                <button class="btn btn-info btn-block">
                    <i class="ace-icon fa fa-eye bigger-120"></i>
                    &nbsp;VISUALIZAR
                </button>
            </div>
            <div class="col-sm-2" style="margin-bottom: 5px;">
                <button class="btn btn-info btn-block">
                    <i class="ace-icon fa fa-print bigger-120"></i>
                    &nbsp;IMPRIMIR
                </button>
            </div>
            <div class="col-sm-2" style="margin-bottom: 5px;">
                <button id="remover" class="btn btn-danger btn-block">
                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    &nbsp;REMOVER
                </button>
            </div>
        </div>
    </div>
</form>