<div class="row">
	<div class="dataInicial form-group col-sm-6">
	    <label class="control-label" id="dataInicialLabel" for="dataInicial">
	        Data Inicial
	    </label>
	    <input class="form-control datepicker" type="text" id="dataInicial" name="dataInicial" placeholder="Data Inicial"</input>
	</div>
	<div class="dataFinal form-group col-sm-6">
	    <label class="control-label" id="dataFinalLabel" for="dataFinal">
	        Data Final
	    </label>
	    <input class="form-control datepicker" type="text" id="dataFinal" name="dataFinal" placeholder="Data Final"</input>
	</div>
</div>