<ul class="dropdown-menu" role="menu">
    <li role="presentation">
        <a role="menuitem" href="#" tab-index="-1">
            <i class="fa fa-pencil"></i>&nbsp;
            Editar
        </a>
    </li>
    <li role="presentation">
    	<a role="menuitem" href="#" tab-index="-1">
    		<i class="fa fa-eye"></i>&nbsp;
    		Visualizar
    	</a>
    </li>
    <li role="presentation" id="cancelarVenda">
    	<a role="menuitem" href="#" tab-index="-1">
    		<i class="fa fa-trash"></i>&nbsp;
    		Excluir
    	</a>
    </li>
</ul>